@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  /* CSS VARIABLES */
  --highlight: #019d4e;
  --white: #fff;
  --background: #edf4f4;

  /* OPTIMIZATION */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: var(--background);
  scale: 93.45%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.label {
  text-align: left;
  font-weight: 500;
  margin-bottom: 4px;
}

.container {
  width: 330px;
  background: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 50px 35px;
}

header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

/* forms */
input {
  height: 100%;
  width: 97%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  padding: 4px;
  margin-bottom: 4px;
}

select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}

button {
  width: 100%;
  height: 40px;
  border: none;
  background: #000;
  margin-top: -20px;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  margin-top: 10px;
}

button:hover {
  background: var(--highlight);
}

.btns-wrapper,
.questions-wrapper {
  display: flex;
  gap: 6px;
}

.questions-wrapper {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.questions-wrapper .checkbox {
  width: fit-content;
  height: fit-content;
}

textarea {
  resize: vertical;
  height: 100%;
  width: 97%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  padding: 4px;
  margin-bottom: 4px;
}

.success {
  text-align: center;
  margin-top: 30px;
}

.subtitle {
  margin-bottom: 20px;
  margin-top: 30px;
  color: #8b8b8b;
}

.progress-bar {
  width: 97%;
  background-color: #e0e0df;
  border-radius: 5px;
  margin-bottom: 35px;
  margin-top: -20px;
}

.progress-text {
  background-color: var(--highlight);
  color: var(--white);
  border-radius: 5px;
}

img {
  margin-top: 20px;
}
